# {{ server_name }} initialization

from pathlib import Path

from .server import LanceDBServer

def get_server() -> LanceDBServer:
    """Get server instance."""
    return LanceDBServer()

__version__ = "{{ server_version }}"
